.external-box{
             border:2px solid purple;
             padding:10px      ;
             margin: 10px 0; 
             background-color:#ffe4e1;
}






























































`	``````````````````````````
